<div class="container" >
  <button *ngIf="!isLoggedIn" class="btn btn-primary login" (click)="login()" type="submit">Login</button>
  <div *ngIf="isLoggedIn" class="content">
    <span>Welcome !! {{userDTO?.username}}</span>
    <a class="btn btn-default pull-right logout"(click)="logout()" href="#">Logout</a>
    <br/>
  </div>
</div>
