<div class="container">
  <div class="row" id="header">
    <span class="counter text-center">Items in Cart: {{count}}</span>
    <span class="counter text-center cart-icon"> <a routerLink="/cart" routerLinkActive="active">Go To Cart</a></span>
  </div>
  <ul class="clearfix" style="margin-top: 240px;">
    <li *ngFor="let data of products">
      <div class="thumbnail">
        <div class="row">
          <div class="col-md-8">
            <img [src]="'/static/'+data.image" alt="product image"/>
            <div class="caption clearfix">
              <h3><a href="data.url">{{data.name}}</a></h3>
              <div class="product__price">{{data.price}} {{data.currency}}</div>
            </div>
          </div>
          <div class="col-md-4 text-right">
            <div class="product__button-wrap">
              <button class="btn btn-primary cartButton" (click)="addToCart(data)">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>

</div>
