/* global */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* products */
.product-catalog li {
  float: left;
  width: 30%;
  margin-right: 5%;
}

.product-catalog li:nth-of-type(3n) {
  margin-right: 0;
}

/* single product */
.product__price {
  display: inline-block;
  line-height: 34px;
}

.product__button-wrap {
  float: right;
}

/* cart */
.cart ul {
  margin-bottom: .7em;
}

.cart-item {
  margin-bottom: .3em;
}

.cart-item__name {
  display: inline-block;
}

.cart-item__price {
  float: right;
}

.cart__total {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.1em;
  text-align: right;
}

/* helpers */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.counter {
  background: red;
  padding:10px 18px;
  border-radius: 50px;
  top: 17px;
  font-size: 11px;
  font-weight: 500;
  display: inline-block;
  color: #fff;
  font-size:18px;
  width: 300px;
  margin: 20px auto;
}
.thumbnail{
  border: 1px solid #ccc;
  padding: 20px;
  margin:15px 0;
}
.cartButton{
  margin: 100px auto;
}
#header{
  position: fixed;
  width: 100%;
  background: #fff;
  padding: 20px;
  left: 0;
  right: 0;
  top: 0;
  box-shadow:-7px 1px 5px rgba(0, 0, 0, 0.38);
  right: 0;
  left: 0;
  z-index: 99;
}
.cart-icon a{color: #fff}
.cart-icon{
  background: #4d7d28;
}
.cart-item:hover {
  background: #ededed;
}
.cart-item {

  padding:10px;
  border: 1px solid #ededed;
}

.logout{
  position: fixed;
  top: 43px;
  z-index: 9999;
  right: 0;
}

.login{
  position: fixed;
  top: 43px;
  z-index: 9999;
  right: 0px;
}
.content{
  position: fixed;
  top: 20px;
  z-index: 9999;
  right: 0px;
}
