<h1 *ngIf="!isAuthenticated ()">
  Hallo
</h1>
<h1 *ngIf="isAuthenticated ()">
  Hallo, {{userDTO?.username}}
</h1>
<button *ngIf="isAuthenticated ()" class="btn btn-default" (click)="logout()">
  Logout
</button>
